@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700';

body{
width: 100%;
height: 100%;

z-index: 0;

}


h1{

  font-family: 'lato',sans-serif;
  font-weight: 100;
  font-size: 7em;
  display: flex;
  color: #fff;
}


#namebox{
border: none;
border-bottom: 2px solid #fff;
width: 100%;
background-color: transparent;

}

#hello{
  top:50%;
  position: absolute;
  z-index: 2;
  display: none;
}

.blur{


  background: no-repeat center center fixed;
    background-size: cover;
    display: block;
    left: -5px;
    top:-5px;
    bottom:-5px;
    position: fixed;
    right: -5px;
    z-index: 1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin:-5px;

}
#data{
top: 75%;
  z-index: 1;
  position: absolute;
}
h2{

  font-family: 'lato',sans-serif;
  font-weight: 100;
  color: white;
}
#name{

  font-size: 4em;
}
#background{
background-image: url(assets/firewatch.jpg);
background-size: cover;
width: 100%;
height: 100%;

}
#clock{z-index: 3;
position: absolute;
font-size: 10em;
top: 40%;
text-align: center;}
#clock h1{
  text-align: center;
}
